pipeline/PL_RestAPI.json
{
	"name": "PL_RestAPI",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"x-api-key": {
							"value": "reqres-free-v1",
							"type": "Expression"
						}
					},
					"url": "https://reqres.in/api/users?page=1"
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1,activity('Web1').output.total_pages)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"x-api-key": {
											"value": "reqres-free-v1",
											"type": "Expression"
										}
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "id"
											},
											"sink": {
												"name": "id"
											}
										},
										{
											"source": {
												"path": "email"
											},
											"sink": {
												"name": "email"
											}
										},
										{
											"source": {
												"path": "first_name"
											},
											"sink": {
												"name": "first_name"
											}
										},
										{
											"source": {
												"path": "last_name"
											},
											"sink": {
												"name": "last_name"
											}
										},
										{
											"source": {
												"path": "avatar"
											},
											"sink": {
												"name": "avatar"
											}
										}
									],
									"collectionReference": "$['data']"
								}
							},
							"inputs": [
								{
									"referenceName": "DS_RESTapi",
									"type": "DatasetReference",
									"parameters": {
										"QueryParamaters": {
											"value": "?page=@{item()}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_APIdata",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "APIpage@{item()}.csv",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-05-09T08:45:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}